<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <!-- Navigation bar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/views/index.html">Wheely Good Auto Parts</a>

      <!-- Grabs the pages needed to be displayed on the navbar -->
      <div class="offcanvas-body" id="navbarComponents">
        <ul class="navbar-nav list-group-horizontal">
          <li v-for="link in links" class="navbar-nav mx-2 px-2">
            <a 
            class="nav-link"
            aria-current="page" 
            :href="link.url" 
            :title="`${link.text} page`"
            >{{ link.text }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div class="container" id="adminView">
    <!-- Shipping and Handeling Charges Changes -->
    <div class="row">
      <div class="col">
        <label for="shippingCharge" class="form-label">Shipping and Handeling Charges (Current is: {{ currentShippingCharge }})</label>
        <input type="text" class="form-control" id="chargeChange" v-model="">
        <a id="submitShipping" href="#" class="btn btn-primary align" @click="">Submit Charge Changes</a>
      </div>
      <div class="col">
        <label for="weigthBracket" class="form-label">Weight Bracket (Current is: {{ currentWeightBracket }})</label>
        <input type="text" class="form-control" id="weightChange" v-model="">
        <a id="submitWeight" href="#" class="btn btn-primary align" @click="">Submit Weight Changes</a>
      </div>
    </div>
    
    <!-- Bare bones order card group-->
    <div class="row row-cols-1 row-cols-md-4 g-1">
      <div v-for="order in orders" class="col" :key="order.orderID">
        <div class="card border-2 h-100">
          <div class="card-body">
            <h4 class="card-title">Order#  {{ order.orderId }}</h4>
            <h5 class="text-body-secondary">Name: {{ order.customerId }} Address: {{ order.address }}</h5>
            <h5 class="text-body-secondary">Total: {{ order.total }}   Date: {{ order.date }}</h5>
            <h5 class="text-body-secondary">Email: {{ order.email }}   Status: {{ order.status }}</h5>
            <h5 class="text-body-secondary">CC Number: {{ order.ccnum }}  CC EXP {{ order.ccexp }} </h5>
            <h5 class="text-body-secondary">Shipping/Handeling: {{ order.shipam }}  Total: {{ order.totam }}</h5>
          </div>
          <div class="card-footer border-0 bg-transparent mx-auto">
            <a href="#" class="btn btn-primary align" @click="viewOrder(order.orderId)" data-bs-toggle="modal" :data-bs-target="`#${order.orderID}`">View Order</a>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" :id="`${order.orderID}`" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h4 class="card-title">Order#  {{ order.orderId }}</h4>
                <h5 class="text-body-secondary">Name: {{ order.customerId }} Address: {{ order.address }}</h5>
                <h5 class="text-body-secondary">Total: {{ order.total }}   Date: {{ order.date }}</h5>
                <h5 class="text-body-secondary">Email: {{ order.email }}   Status: {{ order.status }}</h5>
                <h5 class="text-body-secondary">CC Number: {{ order.ccnum }}  CC EXP {{ order.ccexp }} </h5>
                <h5 class="text-body-secondary">Shipping/Handeling: {{ order.shipam }}  Total: {{ order.totam }}</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</body>

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
crossorigin="anonymous"></script>
<!-- Vue.js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Components -->
<script src="/components/navbarComponents.js"></script>
<script src="/components/adminView.js"></script>
</html>