<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div class="container">

        <!-- Bare bones order card group-->
        <div class="row row-cols-1 row-cols-md-4 g-1" id="cardProducts">
            <div v-for="product in products" class="col">
                <div class="card border-2 h-100">
                    <div class="card-body">
                        <h4 class="card-title">{{ inventory.name }}</h4>
                        <h5 class="text-body-secondary">${{ inventory.description }}</h5>
                    </div>
                    <div class="card-footer border-0 bg-transparent mx-auto">
                      <div class="row">
                        <div class="column">
                          <input id="form1" min="0" name="quantity" v-model.number="inventory.quantity" type="number"
                          class="form-control form-control-sm" style="width: 50px;"/>
                        </div>
                        <div class="column">
                          <a id="submitHandeling" href="#" class="btn btn-primary align" @click="viewOrder(order.name)">Submit Handeling Changes</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
crossorigin="anonymous"></script>
<!-- Vue.js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- Components -->
<script src="/components/navbarComponents.js"></script>
</html>